.loginCard {
  background-color: rgb(35, 32, 40);
  padding: 50px;   /* Adjust the left padding as needed */
  border: 1px solid gray;
}
.container {
  display: flex;
  justify-content: center;
  padding: 100px;
  
}
.errorText
{
  color: red;
}
