.docThumbnail
{
    background-color: white;
    width: 168px;
    height: 197px;
    float: left;
    margin: 10px;
    cursor: pointer;
    border: 1px solid var(--text-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}
.docThumbnail:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.paperclip
{
    position: relative;
    bottom: 20px;
    float: right;
    left: 25px;
}
.docInfo
{
    margin-top: 132px;
    width: 169px;
    height: 69px;
    background-color: #cdcdcd;
}
.docInfo:hover
{
    height:75px;
}
.docText
{
    margin: 7px;
    text-overflow: ellipsis;
    font-size: small;
    color: #373636;
}
.newDoc
{
    cursor: pointer;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}
.newDoc:hover {
    transform: scale(1.05);
   
}
.backButton
{
    position: fixed;
    top: 135px;
    left: 166px;
    cursor: pointer;
    z-index: 6;
}
.docTitle
{
    position: fixed;
    top: 132px;
    left: 214px;
    cursor: pointer;
    z-index: 6;
    width: 182px;
}
/* .newDoc:hover
{
    width: 210px;
    height: 210px;
    
} */
.script-container
{
    margin-top: 105px;
    color: var(--text-color);
}
#textContainer
{
    margin-top: 106px;
    padding-top: 14px;
    padding-bottom: 50px;
    background-color: rgb(68,76,86);
}
.ql-toolbar.ql-snow {
   
    /* width: 500px; */
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    border: none;
    top: 64px;
    left:20px;
    position: fixed;
    z-index: 1;
    padding-top: 2opx;
}
.ql-container.ql-snow
{
    border: 1px solid #282828;
  display: flex;
  justify-content: center;
 
}
.ql-container
{
    border: 1px solid #282828;
    
 
 
}
.ql-editor
{
width: 8.5in;
min-height: 11in;
padding: 2in;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
background-color: white;

}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
   
    border: none;
}