.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
 
  .mainBody
  {
    margin-top: 100px;
    width: 100%;
  }

  .listView:hover
  {
     cursor: pointer;
  }
  .title
  {
    color: var(--text-color);
  }
  .width100{
    width: 100%;
  }
  .card{
    padding: 2px;
  }
  .teamListMain
  {
 
  }
  .currentLogin
  {
    font-size: medium;
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 30px;
  }