body {
  background-color: black;
}

.noVideo
{
    background-color: rgb(32, 32, 32);
    width: 400px;
    height: 300px;
}
.buttons
{
 
}

.side-bar-icons
{
  width: 89px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;

}
.side-bar-body
{
  background-color: rgb(32, 32, 32);
  padding-left: 10px;
  height: 100vh;
  position: fixed;
  top:50px;
}
.selectedPageIcon
{
  background-color: rgb(129, 129, 129);
  border-radius: 10%;
 

}
.header-body
{
  background-color: rgb(32, 32, 32);
  width: 100%;
  height: 65px;
  position: fixed;
  right: -1px;
}

.upload-page-body{
  margin-top: 42px;
}